.cols .left-col {
  width: 350px;
  border: 5px solid #ff8800;
  background: #fff9e1;
}

.cols .separator {
  width: 1px;
}

.cols .right-col {
  width: 350px;
  border: 5px solid #970000;
  background: #fff9e1;
}

.col-title {
  position: relative;
  top: -15px;
}

.col-content {
  text-align: left;
}

table.player {
  width: 310px;
  font-family: Kronika, cursive;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

table.player td {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

table.player td.portrait {
  width: 50px;
}

table.player td.portrait img.portrait {
  width: 50px;
  height: 50px;
  border: 3px solid #c9700b;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

table.player td.score-desc {
  width: auto;
  padding-left: 10px;
}

table.player td.score-value {
  width: 80px;
  padding-left: 10px;
  color: #753e00;
}

table.player .total {
  font-size: 11px;
}

table.action {
  width: 330px;
  margin: 5px auto 30px;
  background: #ffe88b;
  border: 1px solid #330000;
}

table.action td {
  font-size: 11px;
  vertical-align: middle;
}

table.action td.description {
  text-align: left;
  padding: 5px;  
}

table.action td.action {
  text-align: center;
  font-weight: bold;
}

table.action td.action a {
  position: relative;
  top: 7px;
  color: #333333;
}

table.action div.button {
  width: 99px;
  height: 42px;
  background: url("/images/fond-bt-gros.png") no-repeat;
}

ul.tabs {
  margin-left: 20px;
  margin-bottom: 3px;
  font-weight: bold;
}

ul.tabs li {
  position: relative;
  top: -2px;
  display: inline;
  background: #eee6c4;
  padding: 5px 10px;
}

td.left-col ul.tabs li {
  border-top: 1px solid #ff8800;
  border-left: 1px solid #ff8800;
}

td.right-col ul.tabs li {
  border-top: 1px solid #330000;
  border-left: 1px solid #330000;
}

td.left-col ul.tabs li.last {
  border-right: 1px solid #ff8800;
}

td.right-col ul.tabs li.last {
  border-right: 1px solid #330000;
}

ul.tabs li.current {
  background: #fff4c7;
  border-bottom: 1px solid #fff4c7;
}

ul.tabs li a {
  font-size: 11px;
}

ul.tabs li.current a {
  color: #ff6702;
}

div.pane {
  width: 344px;
  background: #fff4c7;
  padding: 3px;
}

td.left-col div.pane {
  border: 1px solid #ff8800;
}

td.right-col div.pane {
  border: 1px solid #330000;
}

div.pane table.header {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

div.pane table.header td.bar-count {
  text-align: left;
}

div.pane table.header td.pane-pages {
  text-align: right;
}

div.pane table.header td.pane-pages .page-link.current {
  font-weight: bold;
}

div.pane div.search {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.pane div.search div.description {
  font-weight: bold;
}

.bar {
  background: #fffceb;
  border: 1px solid #eadbb3;
  padding: 4px;
  margin-bottom: 3px;
}

.bar table.bar-header {
  width: 100%;
}

.bar table.bar-header td {
  padding: 0;
  margin: 0;
}

.bar table.bar-header td.name {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.bar table.bar-header td.members {
  text-align: right;
}

.bar table.bar-content {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 2px;
}

.bar table.bar-content td.banner {
  padding: 0;
}

.bar table.bar-content td.banner img {
  width: 223px;
  height: 74px;
  border: 1px solid #9f857c;
}

.bar td.scores {
  width: 100px;
  text-align: left;
  padding-left: 10px;
}

.bar td.scores .score {
  font-weight: bold;
  padding-top: 5px;
}

.bar .button {
  width: 143px;
  height: 24px;
  background: url("/images/bt-entrer-bar.png") no-repeat;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-left: 2px;
}

.bar .button a {
  position: relative;
  left: 8px;
  top: 4px;
}

table.challenge-grid {
}

table.challenge-grid td {
  vertical-align: middle;
}

table.challenge-grid td.portrait {
  width: 60px;
  text-align: center;
}

table.challenge-grid td.portrait img {
  width: 50px;
  height: 50px;
  border: 3px solid red;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

table.challenge-grid td.description {
  width: auto;
  text-align: left;
  font-size: 11px;
}

table.challenge-grid td.description .name {
  font-weight: bold;
}

table.challenge-grid td.score {
  width: 55px;
  font-size: 14px;
  font-weight: bold;
}

table.challenge-grid td.action {
  width: 76px;
}

table.challenge-grid td.action div.button {
  width: 76px;
  height: 24px;
  background: url("/images/bt-battle.png") no-repeat;
  text-align: center;
}

table.challenge-grid td.action div.button a {
  position: relative;
  top: 4px;
  left: 12px;
  font-weight: bold;
}

.battle-warning {
  font-size: 11px;
}
