* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	/*width: 740px;*/
}

body {
	width: 740px;
}

div.main {
	width: 740px;
	background: #ffc0cb;
	word-wrap: break-word;
}

#game {
	width: 779px;
	height: 630px;
	/*border: 1px solid black;*/
}