* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	/*width: 800px;*/
}

body {
	/*width: 760px;*/
}

div.main {
	width: 760px;
	background: #ffc0cb;
	word-wrap: break-word;
}

#game {
	width: 760px;
	height: 630px;
	/*border: 1px solid black;*/
}