%h1 Privacy
.content Big Brother is watching you...
%input#but{:type => 'button', :value => 'click me!'}

:javascript
  $(function()
  {
    $('#but').click(function()
    {
      FB.ui(
       {
         method: 'stream.publish',
         message: 'Trop de la bière !!! Santé !!',
         action_links: [
           { text: 'Trinquer', href: 'http://apps.facebook.com/beerquest/' }
         ],
         user_message_prompt: 'Va-y, vante toi à mort !'
         //target_id:
       }, function(response) { if (response && response.post_id) {
           alert('Post was published.');
         } else {
           alert('Post was not published.');
         } }
      );
    });
  });
