%table
  %tr
    %th ID
    %th Login URL
    %th Name
  - @accounts.each do |account|
    %tr
      %td= account['id']
      %td= link_to 'Login', account['login_url']
      %td= account['name']

= button_to "New", :controller => 'admin', :action => 'new_test_account', :method => 'POST'