- invite_msg = t("invite.message#{@invite}")
%h2 Invitation des amis
:javascript
  var initialized = function() {
    FB.ui({
      method: 'apprequests',
      title: "#{t('invite.selector')}",
      message: "#{invite_msg}",
      data: "tracking test"
      //filters: [{name: "", user_ids: []}]
    }, function(response) {
      console.log(response);
      if (response && response.request_ids) {
        alert('ok');
      } else {
        alert('Post was not published.');
      }
    });
  };