%fb:serverFbml{:width => '760px'}
  %script{:type => 'text/fbml'}
    %fb:fbml
      %fb:request-form{:method => 'POST',
          :type => t('invite.type'),
          :content => "#{t('invite.message')} <fb:req-choice url=\"#{BeerQuest::FB_APP_URL}\" label=\"#{t('invite.accept')}\" />",
          :action => invite_end_url}
        %fb:multi-friend-selector{:actiontext => t('invite.selector'),
          :showborder => 'true',
          :exclude_ids => @exclude.join(','),
          :max => 35,
          :bypass => 'cancel',
          :email_invite => 'false',
          :import_external_friends => 'false'}
