.title
  Classement par :
%ul.tabs
  %li
    %a{:href => 'javascript:void(0)'} Amis
  %li.last
    %a{:href => 'javascript:void(0)'} BAR
.panes
  .pane#friends-scores
    %table.barscore-grid
      = render :partial => 'barscore', :collection => @me.weekly_friends_scores[0...3]
      %tr
        %td.invite{:colspan => 2}
          %a{:href => invite_url} INVITE FRIENDS
      = render :partial => 'barscore', :collection => @me.weekly_friends_scores[3..-1]
  .pane#bar-scores
    %table.barscore-grid
      = render :partial => 'barscore', :collection => @bar.weekly_top_scores
