%tr.barscore
  %td.portrait
    = image_tag 'avatar2.png', :class => 'portrait'
  %td.description
    .rank= "#1"
    .name Eric Phelippeau
    .score
      Score :
      = image_tag 'mini-biere.png', :alt => t('beers')
      %span.value
        234
