%tr.challenge
  %td.portrait
    = image_tag 'avatar2.png', :class => 'portrait'
  %td.description
    .name Eric Phelippeau
    .status A gagné son round le 21.08 à 17:30
  %td.score
    = image_tag 'mini-biere.png', :alt => t('beers')
    234
  %td.action
    .button
      %a{:href => '#'} Battle