%h1 Beer Quest IV: Challenge of the Bartender

- if @access_token
	Access token: #{@access_token}
- else
	No access token yet

%h2 Play
= link_to "Play", :action => 'play'

%h2 Auth
%a{:href => @oauth_url, :target => '_top'}
	Authorize application

%h2 Server auth
%p
	Your e-mail is
	= @me ? @me[:email] : "NO AUTH"

%h2 XFMBL
%p
	I am
	-#%fb:name{:uid => "loggedinuser"}
%p
	I am 2
	-#%fb:name{:uid => "profileowner"}
%p
	The app is
	-#%fb:application-name
%p
	Login
	%fb:login-button{:onlogin => "facebook_onlogin();"}

:javascript
	function facebook_onlogin(){
		alert("login complete");
		document.location.href = "#{BeerQuest::FB_APP_URL}";
	}
